.main__wrapper
 {
    min-height: calc(2268px/2);
    width: 803px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(112,112,122,0.98); 
    box-shadow: 0px 0px 3px 2px rgba(191, 191, 199, 0.98);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
 }
    .banner.wrapper__header
    {
       margin: 55px 70px;
       margin-bottom: 20px;
       display: flex;
       width: calc(100% - (2* 70px));
       justify-content: center;
       flex-wrap: wrap;

    }
    .image.banner_image
    {
        flex-basis: 25%;
    }
      .image__author
      {
       width: 165px;
       height: 188px;
      }
    .articles.banner__articles
    {
        font-family: 'Open Sans', sans-serif;
        font-size: 21px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 50%;
    } 
      .articles__title
      {
      
        color: rgb(139, 138, 138);
        font-weight: 500;
        font-size: 16px;
        
      }
      .articles__name
      {
          font-weight: 500;
          margin: 4px 0px;
      }

      .adress.articles__adress 
      {
          font-size: 16px;
          margin: 3px 0px;
          margin-bottom: 1px;
          font-size: 16px;
      }
         .adress__section
         {
             font-weight: 600;
         }
         .adress__value
         {
            font-weight: 900;
         }
     .city.articles__city
     {
        font-size: 16px;
        font-weight: 600;
        margin: 1px;
        padding-top: 14px;
        
     }
     .city__border
     {
         font-size: 20px;
         color: grey;
         font-weight: 800;
     }
     .wall.banner_wall
     {
         flex-basis: 25%;
     }


     .description.wrapper__description
     {
        width: calc(100% - (2* 70px));
        font-size: 13px;
        color: rgb(168, 164, 164);
        text-align: center;
        display: flex;
        
        
     }
     

     .container.wrapper__main
     {
         margin-top: 30px;
         width: calc(100% - (2* 70px));
         text-align: center;
         display: flex;
         flex-direction: column;
     }
       .atribute.container__atribute
       {
           margin-bottom: 30px;
       }
       .atribute__title
       {
           box-sizing: border-box;
           padding-bottom: 5px;
           font-weight: 500;
           width: 100%;
           border-bottom: 2px solid black;
       }
        .square
        {
            width: 10px;
            height: 10px;
            
        }
        .atribute__article
        {
            
            width: 100%;
            box-sizing: border-box;
            padding-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 2.5px 0px;
        }
        .atribute__skils
        {
          width: 100%;
          box-sizing: border-box;
          padding-top: 15px;
          margin: 2.5px 0px;
          display: flex;
          flex-wrap: wrap;
        }
        .atribute__skils a
        {
          display: block;
          padding: 2.5px 0px;
          
        }

          .date__period
          {
            font-size: 14px;
            font-weight: 600;
            margin-right: 7px;
          }
          .date__period--months
          {
            font-size: 12px;
            color: rgb(168, 164, 164);
            
          }
          .atribute__department
          {
            font-weight: 900; 
            font-size: 14px;
          }
          .atribute__details
          {
              font-size: 14px;
              font-weight: 600;
          }
            .atribute__details--grey
            {
              color: rgb(168, 164, 164);
              font-size: 14px;
              margin-top: 10px;
            }
          .atribute__language
          {
              font-size: 14px;
          }
          .lenguage__english
          {
              font-weight: 900;
          }
          .atribute__skils
          {
            font-size: 14px;
          }
          .atribute__skils a
          {
              margin: 0 7.5px;
          }
     .nav__atribute
    {
      font-size: 14px;
      cursor: pointer;
      font-weight: 900;
      
    }
    .nav__atribute a
    {
      color: black;
    }
    
    @media (max-width: 486px) {
      .image__author
      {
        order: 10;
      }
      .articles.banner__articles
      {
        order: 0;
      }
      .nav__atribute a
      {
        font-size: 8px;
      }
    } 