* {
  margin: 0;
  padding: 20;
}

body {
  background-color: #28a9e2;
  margin: 0px;
}

header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .main-head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  font-family: 'PT Sans', sans-serif;
  background-color: #131921;
}

header .main-head .left-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 320px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .main-head .left-head .logo-head {
  color: white;
  font-family: 'PT Sans', sans-serif;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
}

header .main-head .left-head .logo-head .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
}

header .main-head .left-head .logo-head .logo:hover {
  border: 1px solid #e6e6e0;
  border-radius: 2px;
}

header .main-head .left-head .addres-head {
  color: white;
  font-family: 'PT Sans', sans-serif;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .main-head .left-head .addres-head .addres {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
}

header .main-head .left-head .addres-head .addres:hover {
  border: 1px solid #e6e6e0;
  border-radius: 2px;
}

header .main-head .left-head .addres-head .addres h5 {
  color: rgba(255, 255, 255, 0.705);
}

header .main-head .left-head .addres-head .addres p {
  margin: 0;
  font-weight: bold;
}

header .main-head .center-head {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
  color: #222121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-head .center-head .search-container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

header .main-head .center-head .search-container .search-category {
  min-width: 150px;
  background-color: #f3f3f3;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1.5px solid rgba(128, 128, 128, 0.37);
  cursor: pointer;
}

header .main-head .center-head .search-container input[type=search] {
  resize: none;
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 0px;
}

header .main-head .center-head .search-container .search-button {
  background-color: #febd69;
  height: 40px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

header .main-head .center-head .search-container .search-button:hover {
  background-color: #ebb450;
}

header .main-head .right-head {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .main-head .right-head .user-data {
  color: white;
  cursor: pointer;
  margin: 0 5px;
}

header .main-head .right-head .user-data .data {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
}

header .main-head .right-head .user-data .data:hover {
  border: 1px solid #e6e6e0;
  border-radius: 2px;
}

header .main-head .right-head .user-data .data h5 {
  color: white;
  font-weight: 100;
}

header .main-head .right-head .user-data .data p {
  margin: 0;
  font-weight: bold;
}

header .main-head .right-head .user-order {
  color: white;
  cursor: pointer;
}

header .main-head .right-head .user-order .data {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
}

header .main-head .right-head .user-order .data:hover {
  border: 1px solid #e6e6e0;
  border-radius: 2px;
}

header .main-head .right-head .user-order .data h5 {
  color: white;
  font-weight: 100;
}

header .main-head .right-head .user-order .data p {
  margin: 0;
  font-weight: bold;
}

header .main-head .right-head .shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-head .right-head .shopping-cart .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
  margin: 0 15px;
  cursor: pointer;
}

header .main-head .right-head .shopping-cart .cart:hover {
  border: 1px solid #e6e6e0;
  border-radius: 2px;
}

header .main-head .right-head .shopping-cart .cart i {
  color: orange;
}

header .main-head .right-head .shopping-cart .cart p {
  margin: 0 15px;
  font-size: 22px;
}

header .secondary-head {
  height: 50px;
  width: 100vw;
  background-color: #232f3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'PT Sans', sans-serif;
  color: white;
}

header .secondary-head .nav-container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .secondary-head .nav-container .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .secondary-head .nav-container .nav-menu .menu-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
  width: 80px;
  cursor: pointer;
}

header .secondary-head .nav-container .nav-menu .menu-bars:hover {
  border: 1px solid #e6e6e0;
  border-radius: 2px;
}

header .secondary-head .nav-container .nav-menu a {
  display: inline-block;
  margin: 0px 7.5px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
}

header .secondary-head .nav-container .nav-menu a:hover {
  border: 1px solid #e6e6e0;
  border-radius: 2px;
}

header .secondary-head .nav-container .users-opinion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.685);
  cursor: pointer;
}

header .secondary-head .nav-container .users-opinion h3 {
  color: rgba(255, 255, 255, 0.685);
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 5px;
}

header .secondary-head .nav-container .users-opinion h3:hover {
  border: 1px solid #e6e6e0;
  border-radius: 2px;
}

.main-wrapper {
  height: 100vh;
}

.main-wrapper .background-image {
  height: 100%;
  background-image: url("./../images/backgroundNature.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.main-wrapper .wrapper {
  width: 100vw;
  position: relative;
  top: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'PT Sans', sans-serif;
}

.main-wrapper .wrapper .main-section {
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .wrapper .main-section .article-products {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .wrapper .main-section .article-products .square {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 10px;
  min-width: 242px;
  min-height: 350px;
}

.main-wrapper .wrapper .main-section .article-products .square h3 {
  margin: 15px;
  width: 90%;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  min-height: 260px;
  background-color: black;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .category-container {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  height: 47%;
  margin: 7.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  color: #6e6c6c;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .home-article .square-image {
  background-image: url("./../images/kuchnia.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .motor-article .square-image {
  background-image: url("./../images/motoryzacja.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .suits-article .square-image {
  background-image: url("./../images/ubrania.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .electronics-article .square-image {
  background-image: url("./../images/elektronika.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .bestseller-section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 50px;
}

@media (max-width: 1100px) {
  header .main-head .right-head .user-data {
    display: none;
  }
  header .main-head .right-head .user-order {
    display: none;
  }
  header .main-head .left-head {
    min-width: 320px;
  }
  header .secondary-head .nav-container .users-opinion {
    display: none;
  }
  .main-wrapper .background-image {
    background-image: url("./../images/backgroundNatureMedium.jpg");
  }
}

@media (max-width: 700px) {
  body {
    background-color: #5fcbe6;
  }
  header .main-head .left-head {
    min-width: 160px;
  }
  header .main-head .left-head .addres-head {
    display: none;
  }
  .main-wrapper .background-image {
    background-image: none;
  }
}

@media (max-width: 600px) {
  header .main-head .left-head {
    display: none;
  }
  header .secondary-head .nav-container .nav-menu a {
    display: none;
  }
}

@media (max-width: 400px) {
  header .main-head .center-head .search-container .search-category {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */