@import 'colors';


*{
    margin: 0%;
    padding: 0%;
} 
html
{
  
}
body{
   background-color: $bodyBackgroundColor;
   margin: 0px;
   font-family: 'PT Sans', sans-serif;
   background-image: url(../images/backgroundNature.jpg);
   background-position: top;
   background-repeat: no-repeat;
   background-size: 105%;
   

}
.dark-body 
{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.473);
  position: fixed;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  display: none;
  
  .address-modal
  {
    width: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    .close-address-modal
    {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      cursor: pointer;
      
      h2
      {
        padding: 2.5px 7.5px;
        background-color: orange;
        color: white;
       
      }
    }
    .address-welcome
    {
      margin: 5px 0px;
    }
    .address-information-container
    {
      display: flex;
      flex-direction: column;
      width: 60%;
      font-size: 14px;
      padding: 10px;
      .address-input
      {
        display: flex;
        justify-content: space-between;
        margin: 1px 0px;
        label
        {
          width: 100%;
          text-align: end;
          margin: 0 10px;
          font-weight: bold;
        }
        .address-method
        {
          resize: none;
          width: 100%;
        }
      }
      p
      {
        text-align: end;
        color: rgb(133, 18, 18);
        font-size: 12px;
        height: 15px;
      }
    }
    .save-address-information
    {
      width: 100%;
      display: flex;
      justify-content: center;
      
      .save-information
      {
        background-image: linear-gradient(to top, #f0c63e, #f4ad3c, #f6b83b, #f8c33b, #f9ce3b);
        height: 30px;
        border: 1px solid grey;
        width: 100px;
        margin: 10px 0px;
      }
    }

  }
  .product-modal
  {
    width: 850px;
    background-color: rgb(255, 255, 255);
    display: none;
    
    
    .product-information-container
    {
      display: flex;
      justify-content: center;
      
      
      .product-image-zoom
      {
        
        
        figure{
          width: 400px;
          height: 400px;
          overflow:hidden;
          border:3px solid #fff;
          position: relative;
          img{
            max-width: 100%;
            min-width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 10;
            pointer-events: none;
          }
        }
        
      }
      .product-details
      {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        
        border-left: 1px solid rgba(10, 10, 10, 0.192);
        border-right: 1px solid rgba(10, 10, 10, 0.192);
        .product-heading-container
        {
          display: flex;
          flex-direction: column;
          width: 95%;
          margin-top: 10px;
          
          h3
          {
            margin: 5px 10px;
            font-weight: 600;
          }
          a
          {
            margin: 5px 10px;
            color: $productProducerName;
          }
        }
        .main-product-container
        {
          display: flex;
          flex-direction: column;
          width: 95%;
          
          .price-infromation
          {
            .price-tag
            {
              margin: 5px 10px;
              color: $greyColor;
              font-size: 14px;
            }
            .price-value
            {
              font-size: 20px;
              color: $productPrice;
              font-weight: bold;
            }
            .price-rabat
            {
              display: none;
            }
          }
          .delivery-infromation
          {
            margin: 10px;
            .quantity-product
            {
              color: $productProducerName;
             
            }
            .price
            {
              color: $productPrice;
              font-weight: bold;
            }
          }
          .main-product-information
          {
            
            
            .product-information
            {
              margin: 10px;
              .information
              {
                margin: 2.5px 0px;
                .feature
                {
                  font-weight: bold;
                } 
                .feature-value
                {
                  font-size: 13px;
                }
              }
            }
          }
          .product-buttons
          {
            padding: 15px;
            display: flex;
            flex-direction: column;
              .add-to-cart
              {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin: 5px 0px;
                  width: 180px;
                  height: 30px;
                  border: 0px;
                  cursor: pointer;
                  background-image: linear-gradient(to top, #f0c63e, #f4ad3c, #f6b83b, #f8c33b, #f9ce3b);
                  i
                  {
                    background-color: rgb(48, 47, 47);
                    color: white;
                    height: 80%;
                    margin: 0px 5px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                  }
                  a
                  {
                   display: flex;
                   width: 100%;
                   justify-content: center;
                  }
              }
              .buy-now
              {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin: 5px 0px;
                  width: 180px;
                  height: 30px;
                  border: 0px;
                  cursor: pointer;
                  background-image: linear-gradient(to top, #eb8b0f, #ea9826, #e9a438, #e8af4a, #e8ba5c);
                  i
                  {
                    background-color: rgb(48, 47, 47);
                    color: white;
                    height: 80%;
                    margin: 0px 5px;
                    width: 30px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                  }
                  a
                  {
                    
                    display: flex;
                    width: 100%;
                    justify-content: center;
                  }
              }
          }

        }
      }
    }
      
  }
}
   .close-modal-container
    {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      cursor: pointer;
      h2
      {
        padding: 2.5px 7.5px;
        background-color: orange;
        color: white;

      }
    }
header
{
    width: 100%;
    display: flex;
    flex-direction: column;
  
    .main-head
    {
     width: 100%;   
     display: flex;
     height: 60px;
     font-family: 'PT Sans', sans-serif;
     background-color: $primaryHeader;
       .left-head
       {
         display: flex;  
         height: 100%;
         width: 320px;
         justify-content: center;
         align-items: center;
         box-sizing: border-box;
           .logo-head
           {
          
             color: white;
             font-family: 'PT Sans', sans-serif;
             cursor: pointer;
             height: 100%;
             display: flex;
             width: 45%;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             font-size: 20px;
             box-sizing: border-box;
             font-weight: bold;
             .logo
             {
             
              display: flex;
              align-items: center;
              justify-content: center;
              width: 90%;
              height: 85%;
              box-sizing: border-box;
              padding: 5px;
              border: 1px solid transparent;
              border-radius: 2px;
               &:hover
               {
                 border: 1px solid rgb(230, 230, 224);
                 border-radius: 2px;
               }
             }
           }
           .addres-head
           {
            color: white;
             font-family: 'PT Sans', sans-serif;
             cursor: pointer;
             height: 100%;
             display: flex;
             width: 55%;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             font-size: 20px;
             box-sizing: border-box;
            
            .addres
            {
              
              font-size: 14px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              width: 90%;
              height: 85%;
              box-sizing: border-box;
              padding: 5px;
              border: 1px solid transparent;
              border-radius: 2px;
                &:hover
                {
                border: 1px solid rgb(230, 230, 224);
                border-radius: 2px;
                
                }
                 h5
                {
                 color: rgba(255, 255, 255, 0.705);
               
                }
                 p
                {
                 margin: 0;
                 font-weight: bold;
                 
                }
                
            }
            
           }
       }
       .center-head
       {
           flex-grow: 6;
           color: rgb(34, 33, 33);
           display: flex;
           flex-direction: column;
           justify-content: center;
           font-weight: 300;
           font-size: 14px;
           

           .search-container
           {
             width: 100%;
             display: flex;
             display: flex;
             height: 40px;
             position: relative;
               z-index: 1;
            
            
           
            .search-category
            {
              
              min-width: 150px;
              background-color: $choseCategory;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              border-right: 1.5px solid rgba(128, 128, 128, 0.37);
              cursor: pointer;
            }
            input[type=search]
              {
                resize: none;
                width: 80%;
                height: 40px;
                border:  none;
                outline: none;
                border-radius: 0px;
              }
              .search-button
              {
                background-color: $searchBtnn;
                height: 40px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                cursor: pointer;
                &:hover
                {
                  background-color: rgb(235, 180, 80);
                }
              }
              .search-value
              {
               
                width: 100%;
                background-color: white;
                position: absolute;
                top: 45px;
                .found-product
                {
                  padding: 5px;
                  cursor: pointer;
                  &:hover
                  {
                    background-color: rgb(223, 221, 221);
                  }
                }
              }
           }
          
       }
       .right-head
       {
        flex-grow: 1;
        display: flex;  
        height: 100%;
        align-items: center;
        box-sizing: border-box;
        .user-data
        {
          
          color: white;
          cursor: pointer;
          margin: 0 5px;
          .data
          {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 85%;
            box-sizing: border-box;
            padding: 5px;
            border: 1px solid transparent;
            border-radius: 2px;
            &:hover
               {
                 border: 1px solid rgb(230, 230, 224);
                 border-radius: 2px;
               }
            h5
                {
                 color: rgb(255, 255, 255);
                 font-weight: 100;
                }
            p
                {
                 margin: 0;
                 font-weight: bold;
                 }
          }
        }
        .user-order
        {
          color: white;
          cursor: pointer;
          .data
          {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 85%;
            box-sizing: border-box;
            padding: 5px;
            border: 1px solid transparent;
            border-radius: 2px;
            &:hover
               {
                 border: 1px solid rgb(230, 230, 224);
                 border-radius: 2px;
               }
            h5
                {
                 color: rgb(255, 255, 255);
                 font-weight: 100;
                }
            p
                {
                 margin: 0;
                 font-weight: bold;
                 }
          
          }
        }
        .shopping-cart
        {
          display: flex;
          color: white;
          height: 100%;
          justify-content: center;
          align-items: center;
          .cart
          {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 85%;
            box-sizing: border-box;
            padding: 5px;
            border: 1px solid transparent;
            border-radius: 2px;
            margin: 0 15px;
            cursor: pointer;
           
            
            &:hover
            {
              border: 1px solid rgb(230, 230, 224);
              border-radius: 2px;
             
            }
            i
            {
              color: orange;
              width: 50px;
              .shop-cart-info
              {
                
                padding: 3px 7px;
                position: relative;
                color: rgb(255, 255, 255);
                font-size: 14px;
                background-color: rgb(253, 103, 4);
                border-radius: 20px;
                text-align: center;
                right: 10px;
                font-family: 'PT Sans', sans-serif;
                font-weight: bold;
                display: none;
              }
            }
            p
            {
              margin: 0 15px;
              font-size: 22px;
            }
          }
        }
       }
    }
    .secondary-head
    {
      height: 50px;
      width: 100%;
      background-color: $secondaryHeader;
      display: flex;
      justify-content: center;
      font-family: 'PT Sans', sans-serif;
      color: white;
        .nav-container
        {
          width: 95%;
          display: flex;
          justify-content: space-between;
          .nav-menu
          {
            display: flex;
            align-items: center;
            .menu-bars
            {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-weight: bold;
              margin-right: 5px;
              padding: 5px;
              border: 1px solid transparent;
              border-radius: 2px;
              width: 80px;
              cursor: pointer;
              &:hover
              {
                border: 1px solid rgb(230, 230, 224);
                border-radius: 2px;
               
              }
            }
              a{
                display: inline-block;
                margin: 0px 7.5px;
                padding: 5px;
                cursor: pointer;
                border: 1px solid transparent;
                border-radius: 2px;
                &:hover
              {
                border: 1px solid rgb(230, 230, 224);
                border-radius: 2px;
               
              }
                
              }
            
            
          }
          .users-opinion
          {
           display: flex;
           align-items: center;
           color: rgba(255, 255, 255, 0.685);
           cursor: pointer;
           h3
           {
            color: rgba(255, 255, 255, 0.685);
            border: 1px solid transparent;
            border-radius: 2px;
            padding: 5px;
            &:hover
            {
              border: 1px solid rgb(230, 230, 224);
              border-radius: 2px;
             
            }
           }
          
          }
        }
    }
}
.main-wrapper
{

  display: flex;
  flex-direction: column;
  
  .wrapper
  {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    .orders-history
    {
      background-color: rgb(255, 254, 250);
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      min-height: calc(100vh - 110px);
      
    }
 
    .main-section
    {
      width: 1300px;
      display: flex;
      justify-content: center;
      .article-products
      {
       
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      
        
        .square
        {
          background-color: rgb(255, 254, 250);
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-basis: 30%;
          margin: 10px;
          min-width: 242px;
          min-height: 350px;
          h3
          {
            margin: 15px;
            width: 90%;
          }
            .square-2
            {
             display: flex;
             flex-wrap: wrap;
             justify-content: center;
             width: 90%;
             min-height: 280px;
              .category-container
              {
                flex-basis: 40%;
                margin: 5.5px;
                display: flex;
                flex-direction: column;
                font-size: 12px;
                cursor: pointer;
                font-weight: bold;
                color: rgb(110, 108, 108);
                
              }

              .home-article
              {
              
                .square-image
                {
                  background-image: url("./../images/kuchnia.jpg");
                  height: 100%;
                  background-size: cover;
                  background-position: center;
                }
              }
              .motor-article
              {
               
                .square-image
                {
                  background-image: url("./../images/motoryzacja.jpg");
                  height: 100%;
                  background-size: cover;
                  background-position: center;
                }
              }
              .suits-article
              {
                
                .square-image
                {
                  background-image: url("./../images/ubrania.jpg");
                  height: 100%;
                  background-size: cover;
                  background-position: center;
                }
              }
              .electronics-article
              {
                
                .square-image
                {
                  background-image: url("./../images/elektronika.jpg");
                  height: 100%;
                  background-size: cover;
                  background-position: center;
                }
              }
              .sale
              {
                flex-basis: 100%;
                
                .square-image
                {
                  background-image: url("./../images/wyprzedaż.jpg");
                  height: 100%;
                  background-size: cover;
                  background-position: center;
                }
              }
              .suits
              {
                flex-basis: 100%;
                .square-image
                {
                  background-image: url("./../images/ubranie.jpg");
                  height: 100%;
                  background-size: cover;
                  background-position: center;
                }
              }
              
              
              .computer
              {
                
                flex-basis: 100%;
              
                
                .square-image
                {
                  background-image: url("./../images/laptop.png");
                  height: 100%;
                  background-size: cover;
                  background-position: center;
                }
              }
              .shaver
              {
                flex-basis: 100%;
                .square-image
                {
                  background-image: url("./../images/golarka.png");
                  height: 100%;
                  background-size: cover;
                  background-position: top
                  
                }
              }
              .pots-flower
              {
               
                .square-image
                {
                  background-image: url("./../images/doniczka.png");
                  height: 100%;
                  background-size: cover;
                  background-position: center
                  
                }
              }
              .furniture
              {
               
                .square-image
                {
                  background-image: url("./../images/mebel.png");
                  height: 100%;
                  background-size: cover;
                  background-position: center
                  
                }
              }
            }
            .horizontal
            {
              flex-direction: column;
              .cars
              {
                
                .square-image
                {
                  background-image: url("./../images/samochód.jpg");
                  height: 100%;
                  background-size: cover;
                  background-position: center;
                }

              }
              .motors 
              {
                
                .square-image
                {
                  background-image: url("./../images/motor.jpg");
                  height: 100%;
                  background-size: cover;
                  background-position: center;
                }

              }
            }
        }
        .bestseller-section
        {
          flex-basis: 100%;
          margin: 50px;
        }
      }
    }
  }
}



.category-articles
{
  
  background-color: rgb(245, 234, 234);
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  min-height: calc(100vh - 110px);
  
   .lottery-game-container
   {
     
    min-height: calc(100vh - 110px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
     .lottery-game
     {
       width: 550px;
       height: 500px;
       border: 1px solid black;
       background-color: rgb(60, 165, 165);
       display: flex;
       justify-content: center;
       align-items: flex-end;

        .lottery-machine
        {
          width: 300px;
          height: 350px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
           
          .lottery-machine-head
          {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            border-radius: 15px;
            height: 110px;
            background-color: $primaryHeader;

            .lottery-machine-card
            {
              width: 50px;
              height: 75px;
              border: 1px solid rgb(235, 201, 11);
              background-color: $secondaryHeader;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 17px;
              color: white;
            }
          }
          .lottery-machine-neck
          {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            
            
            .neck-vertebra-short
            {
             height: 6px;
             width: 90%;
             background-color: $secondaryHeader;
            }
            .neck-vertebra-long
            {
              height: 7px;
              width: 95%;
              background-color: orange;
              border-radius: 15px;
            }
          }
          .lottery-machine-body
          {
            width: 100%;
            height: 90px;
            border: 1px solid black;
            background-color: $primaryHeader;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
            .lottery-button-container {
              

              height: 60px;
              width: 60px;
              display: flex;
              justify-content: center;
              .lottery-button //jako zmienna czy jakos tak
              {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
                border-radius: 50px;
                background-color: rgb(247, 184, 12);
                z-index: 2;
                cursor: pointer;
                color: white;
                font-weight: bold;
                font-size: 19px;
                &:active
                {
                  transform: translateY(5px);
                }
              }
              .button-shadow //jako zmienna czy jakos tak
              {
                position: absolute;
                height: 60px;
                width: 60px;
                border-radius: 50px;
                background-color: rgba(247, 184, 12, 0.596);
                z-index: 1;
                transform: translateY(9px);
              }
            }
            
            
            

          }
          
        }
     }
   }

   .nav-subnav
   {
     width: 100%;
     border-bottom: 1px solid rgba(0, 0, 0, 0.233);
     display: flex;
     align-items: center;
     h4
     {
       margin: 0 10px;
       border-bottom: 2px solid transparent;
     }
     a
     {
       margin: 0 10px;
       font-size: 14px;
       display: inline-block;
       padding: 10px 0px;
       border-bottom: 2px solid transparent;
       cursor: pointer;
       &:hover
       {
        border-bottom: 2px solid orange;
        color: orange;
       }
     }
   }
   .articles-container
   {
     display: flex;
     height: 100%;
     margin-top: 20px;
     .nav-menu-articles
     {
       min-width: 250px;
       border-right: 1px solid rgba(0, 0, 0, 0.233);
       border-bottom: 1px solid rgba(0, 0, 0, 0.233);
       display: flex;
       flex-direction: column;
       align-items: center;
       section
       {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 20px 0px;
       }
       
       label
       {
         margin: 3px 0px;
         width: 80%;
       }
       .price-range
       {
         display: flex;
         input[type=text]
         {
           resize: none;
           width: 300%;
           margin: 0 3px;
         }
       }
     }
     .articles-products
     {
       display: flex;
       flex-direction: column;
       
       
       .products-list
       {
        
         margin: 5px 25px;
         .product-category
         {
           font-size: 34px;
         }
         .chosen-by-us
         {
          font-size: 22px;
         }
         .products-list-container
         {
           display: flex;
           flex-wrap: wrap;
           
           article
           {   
               width: 200px;
               display: flex;
               flex-direction: column;
               margin: 15px 20px;
               min-width: 230px;
               .product-image
               {
                height: 150px;                
                background-repeat: no-repeat;
                display: flex;
                .shadow-box
                {
                  height: 100%;
                  width: 100%;
                  p
                  {
                    display: none;
                    
                  }
                  &:hover
                  {
                    
                    background-color: rgba(0, 0, 0, 0.253);
                    
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p
                    {
                      display: block;
                      color: white;
                    }
                  }
                  @keyframes shadow {
                    
                    
                  }
                }
                cursor: pointer;
               }
               .product-description
               {
                 font-size: 14px;
                 margin:  5px 0px;
                 overflow: hidden;
                 text-overflow: ellipsis;
                 display: -webkit-box;
                 -webkit-line-clamp: 2;
                 -webkit-box-orient: vertical;
               }
               .product-producer
               {
                 font-size: 14px;
                 font-weight: bold;
                 color: gray;
               }
               .product-price
               {
                font-weight: bold;
                color: rgb(0, 0, 0);
               }
           }

          }
       }
     }
   }
  .nav-subnav-order
  {
    width: 100%;
    height: 60px;
    background-color: rgb(231, 231, 223);
    display: flex;
    justify-content: space-around;
    align-items: center;
    h2
    {

    }
    .cash-register
    {
      display: flex;
      align-items: center;
      height: 100%;
      h2
      {
        font-weight: lighter;
        
      }
      a
      {
        font-size: 24px;
        color: $productProducerName;
      }
    }
    i
    {
      color: grey;
    }
  }
  .order-container
  {
    display: flex;
    flex-basis: 50%;
    .order-summary
    {
      margin: 15px;
      width: 320px;
      min-width: 320px;
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(0, 0, 0, 0.281);
      align-items: center;
      .complete-transaction
      {
        width: 90%;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        label
        { 
          width: 100%;
          .complete
          {
            width: 100%;
            height: 35px;
            border: 1px solid rgb(207, 143, 23);
            background-image: linear-gradient(to top, #f0c63e, #f4ad3c, #f6b83b, #f3d58a, #f0db97);
            cursor: pointer;
          }
        }
        .terms-use
        {
          text-align: center;
          margin-top: 5px;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.178);
          .terms
          {
            font-size: 12px;
            
          }
          .blue
            {
              font-weight: bold;
              color: $productProducerName;
            }
        }
        .personal-data-protection
        {
          margin-top: 10px;
          display: flex;
          align-items: center;
          i
          {
            margin: 0px 10px;
            color: $productProducerName;
          }
          p
          {
            font-size: 13px;
          }
          .more-information
          {
            font-size: 12px;
            color: $productProducerName;
            font-weight: bold;
          }
        }
        h3
        {
          width: 100%;
          margin-top: 5px;
          margin-bottom: 15px;
        }
       
        
        .to-pay
        {
          width: 100%;
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          margin-bottom: 2.5px;
        }
        .total-payment
        {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .brown
          {
            color: brown;
            font-weight: bold;
            font-size: 20px;
          }
        }
        .vat-payment
        {
          font-size: 14px;
          width: 100%;
          margin-top: 10px;
        }
        .payment-currency
        {
          width: 100%;
          color: rgb(68, 67, 67);
          display: flex;
          font-size: 16px;
          p
          {
            margin: 0px 5px;
            color: $productProducerName;
            font-weight: bold;
          }
        }
        .currency-attention
        {
          font-size: 12px;
          color: $productProducerName;
        }
        .currency-container
        {
          margin: 5px 10px;
        }
      }
    }
    .finalizing-order
    {
      margin: 15px;
      display: flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      .delivery-address-order
      {
        display: flex;
        width: 100%;
        justify-content: space-around;
        border-bottom: 1px solid rgba(0, 0, 0, 0.178);
        padding-bottom: 15px;
        .delivery-address
        {
          display: flex;
          flex-basis: 25%;
          h3
          {
            margin: 0 20px
          }
        }
        .delivery-addres-details
        {
          display: flex;
          flex-direction: column;
          flex-basis: 65%;
          div
          {
            margin: 0px 40px;
            font-size: 13px;
            .value
            {
              font-weight: bold;
            }
          }
        }
        .change-delivery-addres
        {
          display: flex;
          flex-basis: 10%;
          font-size: 14px;
          color: $productProducerName;
          cursor: pointer;
        }
      }
      .payment-method
      {
        display: flex;
        width: 100%;
        justify-content: space-around;
        border-bottom: 1px solid rgba(0, 0, 0, 0.178);
        padding-bottom: 15px;

        .delivery-payment
        {
          display: flex;
          flex-basis: 25%;
          h3
          {
            margin: 10px 20px
          }
        }
        .payment-method-type
        {
          flex-basis: 75%;

          .payment-method-input
          {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            font-weight: bold;
            .credit-card
            {
              height: 40px;
              display: flex;
              align-items: center;
              i
              {
                margin: 0 10px;
                background: -webkit-linear-gradient(rgb(145, 8, 8), rgb(247, 177, 47));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
          
        }
      }
      .products-order
      {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        border-bottom: 1px solid rgba(0, 0, 0, 0.178);
        padding-bottom: 15px;
        .products-order-options
        {
          flex-basis: 100%;
          display: flex;
          h3
          {
            margin: 10px 20px
          }
        }
        .user-products-order
        {
          
          display: flex;
          flex-direction: column;
          margin: 10px 50px;
          background-color: rgb(247, 245, 243);
          border: 1px solid rgba(0, 0, 0, 0.178);

          .delivery-time
          {
            display: flex;
            flex-direction: column;
            font-size: 22px;
            font-weight: bold;
            .delivery-time-info
            {
              margin: 0px 10px;
            }
            .delivery-info
            {
              font-size: 14px;
              color: rgb(97, 96, 96);
              margin: 0px 10px;
            }
          }
          .products-order-container
          {
            display: flex;
            .order-product-container
            {
             margin: 15px;
             display: flex;
             flex-direction: column;
             width: 45%;
             .product-order
            {
              display: flex;
              margin: 10px 0px;
              .product-order-image
              {
               width: 250px;
                img
                {
                  
                  width: 100%;
                  display:block;
                  min-width: 130px;
                }
              }
              .product-order-description
              {
               
                font-size: 12px;
                font-weight: bold;
                max-width: 230px;
                min-width: 100px;
                
               
              }
              .product-order-number
              {
                color: rgb(75, 75, 75);
                a
                {
                  margin: 5px;
                }
              }
            }
            }
            
          }
          .delivery-period
          {
            padding: 30px;
            
            .period-time
            {
              label
              {
                a
                {
                  font-size: 14px;
                }
                .delivery-info
                {
                  color: rgb(39, 126, 27);
                }
              }
            }
          }
        }
      }
      .buy-now-container
      {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 80px;
        border: 1px solid rgba(0, 0, 0, 0.178);

        .buy-now-bttn
        {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 150px;
          .complete
          {
            width: 120px;
            height: 35px;
            border: 1px solid rgb(207, 143, 23);
            background-image: linear-gradient(to top, #f0c63e, #f4ad3c, #f6b83b, #f3d58a, #f0db97);
            cursor: pointer;
            
          }
        }
        .terms-use
        {
          display: flex;
          flex-direction: column;
          width: 80%;
          justify-content: center;
          .total-payment
          {
            display: flex;
            .brown
            {
              color: brown;
              font-weight: bold;
              font-size: 20px;
              margin: 0px 5px;
            }
          }
          .terms-use-description
          {
            .terms
            {
              font-size: 12px;
            }
            .blue
            {
              font-weight: bold;
              color: $productProducerName;
            }
          }
        }
      }
    }
  }
}




@media  (max-width: 1100px) {
 
  
    header
    {
      .main-head
      {
        .right-head
        {
          .user-data
          {
            display: none;
          }
          .user-order
          {
            display: none;
          }
        }
        .left-head
        {
          min-width: 320px;
        }
      }
      .secondary-head
      {
        .nav-container
        {
          .users-opinion{
              
                display: none;
              
            }
           }
      }
    }
    .main-wrapper
    {
      .background-image
      {
        background-image: url("./../images/backgroundNature.jpg");
      }
    }
    
  
}



@media  (max-width: 700px) {
  
  body
  {
    background-color: rgb(95, 203, 230);
  }
  header
    {
      .main-head
      {
        .left-head
        {
          min-width: 160px;
          .addres-head
          {
            display: none;
          }
        }
      }
    }
    .main-wrapper
    {
      .background-image
      {
        background-image: none;
      }
    }


}
@media  (max-width: 600px) {
 
 
 
  header
 {
  .main-head
  {
    .left-head
    {
      display: none;
    }
  }
  .secondary-head
  {
    .nav-container
    {
      .nav-menu
      {
        a
        {
          display: none;
        }
      }
    }
  }
 }
  

}


@media  (max-width: 400px) {

  header
  {
    .main-head
    {
      .center-head
    {
      .search-container
      {
        .search-category
        {
          display: none;
        }
      }
    }
    }
    
  }

}