@charset "UTF-8";
.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper .wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'PT Sans', sans-serif;
}

.main-wrapper .wrapper .orders-history {
  background-color: #fffefa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-height: calc(100vh - 110px);
}

.main-wrapper .wrapper .main-section {
  width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .wrapper .main-section .article-products {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-wrapper .wrapper .main-section .article-products .square {
  background-color: #fffefa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 10px;
  min-width: 242px;
  min-height: 350px;
}

.main-wrapper .wrapper .main-section .article-products .square h3 {
  margin: 15px;
  width: 90%;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  min-height: 280px;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .category-container {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 5.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  color: #6e6c6c;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .home-article .square-image {
  background-image: url("./../images/kuchnia.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .motor-article .square-image {
  background-image: url("./../images/motoryzacja.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .suits-article .square-image {
  background-image: url("./../images/ubrania.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .electronics-article .square-image {
  background-image: url("./../images/elektronika.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .sale {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .sale .square-image {
  background-image: url("./../images/wyprzedaż.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .suits {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .suits .square-image {
  background-image: url("./../images/ubranie.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .computer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .computer .square-image {
  background-image: url("./../images/laptop.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .shaver {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .shaver .square-image {
  background-image: url("./../images/golarka.jpg");
  height: 100%;
  background-size: cover;
  background-position: top;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .pots-flower .square-image {
  background-image: url("./../images/doniczka.png");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .square-2 .furniture .square-image {
  background-image: url("./../images/mebel.png");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .horizontal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper .wrapper .main-section .article-products .square .horizontal .cars .square-image {
  background-image: url("./../images/samochód.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .square .horizontal .motors .square-image {
  background-image: url("./../images/motor.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.main-wrapper .wrapper .main-section .article-products .bestseller-section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 50px;
}
/*# sourceMappingURL=main.css.map */