.shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #c5d4c4;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.shopping-cart .nav-link {
  height: 100%;
  width: 100%;
  position: absolute;
}

.shopping-cart .shopping-cart-container {
  position: absolute;
  width: 120%;
  background-color: white;
  position: absolute;
  top: 65px;
  min-height: 150px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.shopping-cart .shopping-cart-container .cart-product {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  position: relative;
  z-index: 1;
  margin: 10px 0px;
}

.shopping-cart .shopping-cart-container .cart-product .cart-product-img {
  width: 50%;
  height: 100px;
  background-image: url("../../images/asus.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.shopping-cart .shopping-cart-container .cart-product .cart-product-description {
  width: 50%;
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.shopping-cart .shopping-cart-container .cart-product .cart-product-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.shopping-cart .shopping-cart-container .cart-product .cart-product-description .cart-product-cancel {
  position: absolute;
  right: 0;
  bottom: 20px;
  cursor: pointer;
}

.shopping-cart .shopping-cart-container .shopping-cart-container-price {
  color: brown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping-cart .shopping-cart-container .shopping-cart-container-btn {
  margin: 5px;
  width: 120px;
  height: 35px;
  border: 1px solid #cf8f17;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f0c63e), color-stop(#f4ad3c), color-stop(#f6b83b), color-stop(#f3d58a), to(#f0db97));
  background-image: linear-gradient(to top, #f0c63e, #f4ad3c, #f6b83b, #f3d58a, #f0db97);
  cursor: pointer;
}

.shopping-cart .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
  margin: 0 15px;
  cursor: pointer;
}

.shopping-cart .cart:hover {
  border: 1px solid #e6e6e0;
  border-radius: 2px;
}

.shopping-cart .cart i {
  color: orange;
  width: 50px;
}

.shopping-cart .cart i .shop-cart-info {
  padding: 3px 7px;
  position: relative;
  color: white;
  font-size: 14px;
  background-color: #fd6704;
  border-radius: 20px;
  text-align: center;
  right: 10px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  display: none;
}

.shopping-cart .cart p {
  margin: 0 15px;
  font-size: 22px;
}
/*# sourceMappingURL=shopCart.css.map */