$primaryHeader: rgba(19,25,33,255);
$secondaryHeader: rgba(35,47,62,255);
$choseCategory: rgba(243,243,243,255);
$searchBtnn: rgba(254,189,105,255);
$bodyBackgroundColor: rgba(40,169,226,255);
$darkWrapperBackroundColor:rgba(0, 0, 0, 0.473);
$greyColor: rgb(114, 112, 112);


///Product-Modal

$productProducerName: rgb(37, 150, 190);
$productPrice: rgb(204, 84, 5);

